$white: #fff!default;
$black: #212121!default;
$red: #ea352d!default;
$lightblue: #0099e8!default;
$skincolor: #fff6de!default;
$lightgray: #cccccc!default;
$darkgray: #666666!default;
$backcolor: #f5f5f5!default;