= render partial: 'layouts/header'
.main-card
  .main-card-box
    = render partial: 'users/mypage-sidebar'
    .card-box
      .card-box__label
        %p　支払い方法
= render partial: 'layouts/footer-top'