= render partial: 'layouts/header'
.main-logout
  .main-logout-box
    = render partial: 'users/mypage-sidebar'
    .logout-box
      %button.logout-box__button{type: "submit"} ログアウト
= render partial: 'layouts/footer-top'