= render partial: 'layouts/header'
.main-logout
  .main-logout-box
    = render partial: 'users/mypage-sidebar'
    .logout-box
      = link_to "ログアウト", destroy_user_session_path, method: :delete, type: 'button', class: 'logout-box__button'
= render partial: 'layouts/footer-top'