= render partial: 'layouts/header'
.main-password
  .main-password-box
    = render partial: 'users/mypage-sidebar'
    .password-box
      .password-box__label
        %p　パスワードの変更
      %form.password-box__information
        .password-box__information__form
          %label 現在のパスワード
          %input{type: "text", placeholder: "6文字以上"}
        .password-box__information__form
          %label 新しいパスワード
          %input{type: "text", placeholder: "６文字以上"}
        .password-box__information__form
          %label 新しいパスワード（確認）
          %input{type: "text", placeholder: "６文字以上"}
        %button.password-box__information__button{type: "submit"} 変更する
= render partial: 'layouts/footer-top'