* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

h1{
  margin-top: 40px;
  display: inline-block;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

header {
  height: 128px;
  text-align: center;


}

.forms-wrapper {
  background-color: #ffffff;
  &__announce {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 32px 16px;
  }
}


.form-wrapper {
  padding: 40px;
  border-top: solid 1px #f5f5f5;

  &--select {
    @extend .form-wrapper;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-size: 14px;
    color: #888;
  }

  &__submit-btn {
    height: 48px;
    width: 100%;
    margin-top: 40px;
    background-color: #ea352d;
    color: white;
    font-size: 14px;
  }

  &__back-btn {
    display: block;
    width: 45%;
    height: 48px;
    margin: 24px auto 0;
    text-align: center;
    line-height: 48px;
    background-color: #aaa;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
}

.product-image-box {
  padding: 40px;
  border-top: solid 1px #f5f5f5;
  font-size: 16px;

  &__tips {
    font-size: 66%;
    line-height: 1.5;
  }
}

.image-form {
  background-color: #f5f5f5;
  border: dashed thin #ccc;
  padding: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  &__file {
    display: none;
  }
}

.form-block {
  &__label {
    font-size: 14px;
    font-weight: 600;
  }

  &__require {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }

  &__form--textfield {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 16px;
  }

  &__form--textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  &__form--select {
    height: 48px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    appearance: none;	/* 標準のスタイルを無効にする */ 
  }

  &__form--category {
    height: 48px;
    width: 100%;
    padding: 0 16px;
    border: 1px solid #ccc;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    appearance: none;	/* 標準のスタイルを無効にする */ 

  }

  &__charge-label, &__charge {
    font-size: 14px;
    line-height: 14px;
  }

  &__profit-label, &__profit {
    font-size: 16px;
    font-weight: 600;
  }

  &--select {
    position: relative;
  }

  &--select-append {
    position: relative;
    margin-top: 8px;
  }

  &--price {
    display: flex;
    justify-content: space-between;
    line-height: 48px;
    padding-bottom: 24px;

    &--charge {
      @extend .form-block--price;
      padding-top: 24px;
    }

    & + & {
    padding-bottom: 24px;
    border-top: solid 1px #ccc;
    }
  }

  &--brand {
    @extend .form-block;
    margin-top: 40px;
  }

  & + &, &--select + &--select, .category-block + &, & + &--select {
    margin-top: 40px;
  }
}

.price-form {
  display: flex;
  justify-content: space-between;
  line-height: 48px;
  width: 50%;

  &__text {
    height: 48px;
    border: solid #ccc 1px;
    border-radius: 4px;
  }

  &__yen {
    font-size: 14px;
  }
}

.select-arrow {
  position: absolute;
  font-size: 20px;
  right: 16px;
  top: 50%;
  color: gray;

  &-append {
  position: absolute;
  font-size: 20px;
  right: 16px;
  top: 13.5px;
  color: gray;
  }
}

.details-forms, .about-shipping-forms, .selling-price-form {
  width: 400px;
  min-height: 180px;
}

.exhibit-announcement {
  &__text {
    font-size: 14px;
  }
}