.items_table {
  @include clearfix();
  margin: 0 auto;
  
}
h4::after {
content: '';
position: absolute;
height: 1.7em;
background: linear-gradient(to right,rgba( 255, 255, 255, 0),#fff 72%);
width: 50%;
right: 0;
bottom: 0;
display: block;
}
.category_link {
  height: 64px;
  padding: 10px;
  margin: 0;
  text-align: right;
  clear: both;
  
  p {
    font-size: $font_menu;
    color: $lightblue;
  }
}

.item_box {
  width: 213px;
  margin: 0 0 20px 20px;
  float: left;
  background-color: $white;
  .index_text{
    height: 100px;
    padding-top: 5px;
    
    h4 {
      font-size: 16px;
      color: $black;
      height: 3em;
      word-wrap: break-word;
      overflow: hidden;
      position: relative;
    }
    
    
    
  }
  .items__pict {
    width: 213px;
    height: 220px;
  }
  
}

.index_tax{
  font-size: 10px;
  color: $black;
  padding-bottom: 10px;
}

.index_info__price{
  width: 70%;
  font-size: 17px;
  color: $black;
  padding-top: 10px;
  padding-left: 16px;
  float: left;
  text-align: left;
}

.index_box {
  height: 100px;
  padding: 16px;
}

.index_info__box {
  height: 30px;
  width: 30%;
  float: right;
  padding-top: 10px;
  box-sizing: border-box;
  line-height: 25px;
  
  i {
    font-size: $font_sentence;
    color: $lightgray;
    padding-left: 5px;
    font-weight: 400;
  }
  span {
    font-size: $font_menu;
    color: $black;
  }
}
