.new-usersbar-was__box3{
  display: inline-block;
  position: relative;
  margin-left: 32px;
  color: $darkgray;
}

.new-usersbar-was__box3::after{
  position: absolute;
  left: 59%;
  bottom: 5px;
  content: '';
  width: 100px;
  height: 2px;
  background: $red;
}

.new-usersbar-now__box4{
  display: inline-block;
  position: relative;
  margin-left: 32px;
  color: $red;
}

.new-usersbar-now__box4::after{
  position: absolute;
  left: 59%;
  bottom: 5px;
  content: '';
  width: 100px;
  height: 2px;
  background: #ccc;
}

.fa-question-circle{
  font-size: 12px;
  padding-left: 53%;
  color: $lightblue;
}

.card-nm-what{
  font-size: 12px;
  color: $lightblue;
}

.btn-next4{
  width: 45%;
  height: 50px;
  background-color: $red;
  color: $white;
  margin: 5% 0 0 27%;
  font-size: $font_menu;
}

.btn-back4{
  width: 50%;
  height: 30px;
  background-color: $red;
  color: $white;
  margin: 5% 0 0 25%;
  font-size: 12px;
  border-radius: 20px;
}