*{
  box-sizing: border-box;
}

.main-password{
  background-color: #f5f5f5;
  @include clearfix();
}

.main-password-box{
  width: 990px;
  margin: 0 auto;
}

.password-box{
  height: 600px;
  width: 700px;
  margin: 40px 0 0 0;
  float: right;
  background-color: $white;
  &__label{
    height: 50px;
    width: 700px;
    padding: 8px 0;
    border-bottom: 1px solid #f5f5f5;
    font-size: $font_text;
    font-weight: bold;
    text-align: center;
  }
  &__information{
    height: 550px;
    widows: 700px;
    padding: 5px 64px;
    &__text{
      font-size: $font_menu;
    }
    &__form{
      margin-top: 40px; 
      font-size: $font_menu;
      label{
        font-weight: bold;
      }
      p{
        margin-top: 7px;
      }
      input{
        height: 48px;
        width: 100%;
        padding: 10px 16px 8px;
        margin-top: 4px;
        border: 1px solid $lightgray;
        font-size: $font_sentence;
        border-radius: 4px;
      }
    }
    &__button{
      height: 50px;
      width: 100%;
      margin-top: 40px;
      background-color: $red;
      color: $white;
      font-size: $font_menu;
      cursor: pointer;
      text-align: center;
    }
  }
}