.item_box
  %section.items
    = link_to do
      = image_tag "/assets/cat1.png",size: "213*220", alt: "商品写真", class: "items__pict"
      .index_text
        %h4 あかさたなストロングだふふふふふふふふふふふふふふふふふふ
        .index_info
          .index_info__price ¥ 2000
          .index_info__box
            %i.far.fa-heart
              %span 99
        .index_tax (税込)