%section.main
  .main_top
    %h2.main_top__text 購入内容の確認
  .main_body
    .product_info
      .item_info
        %img.item_info__image{ src: asset_path('cat1.png'), alt: "商品画像1" }
        %p.item_info__text 商品名
      .fee_info
        .fee_info__text
          %span.fee_info__text__place ¥300
          %span.fee_info__text__shipping_cost 送料込み
        .point_info
          %span.point_info__text ポイントはありません
        .buy_info
          .buy_text
            %span.buy_text__attention 支払い金額
          .buy_place
            %span.buy_place__body ¥300
        .buy_action
          .buy_not
            %span.buy_not__message 配送先と支払い方法の入力を完了してください。
          %button.buy_button 購入する
  .buyer_body
    .buyer_info
      .address
        %h3.address__info 配送先
        .address__text
          %span.address__text__address_number 郵便番号
          %span.address__text__address_text 住所
          %span.address__text__buyer 名前
          .address_link
            = link_to do
              %span.address_link__text 変更する
              %i.fas.fa-chevron-right.address_link__icon
  .fee_body
    .fee_way
      %h3.fee_way__info 支払い方法
      .fee_way__card
        %span.fee_way__card__number カード番号
        %span.fee_way__card__limit 有効期限
        %img.fee_way__image{ src: asset_path('cat1.png'), alt: "商品画像1" }
        .card_link
          = link_to do
            %span.card_link__change 変更する
            %i.fas.fa-chevron-right.card_link__icon
.line
.buyed_not
  .buyed_not__box
    %h3.buyed_not__box__text 商品はすでに売り切れています。
  .buyed_not__error--edit
    = link_to do
      %span.buyed_not__error__link 購入画面へ戻る