.single-footer
  %a プライバシーポリシー
  %a メルカリ利用規約
  %a 特定商取引に関する表記
  .single-footer_logo
    %img.single_pict{src: '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2921618501', alt: '', height: '58', width: '185'}
    %p © 2019 Mercari